{% extends request.user.is_superuser|yesno:"base.html,staff_base.html" %}

        {% load static %}
        <!-- DataTables CSS -->
        <link href="{% static 'vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
        {% load static %}
        <!-- DataTables Responsive CSS -->
        <link href="{% static 'vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">

        {% block content %}
             <div id="page-wrapper">
                <div class="container-fluid">
                                <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Daftar Pengguna Akun</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-10">
                         <button class="btn-primary" onclick="window.location.href='{% url 'tambahAkunPengguna' %}'"><i class="fa fa-plus"></i>Tambah Akun</button>
                    </div>
                    <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-group fa-fw"></i>Admin
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Username</th>
                                        <th>Nama</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in id %}
                                        {% if i.is_superuser is True %}
                                             <form role="form" action="{% url 'daftarAkunPengguna' %}" method="POST">
                                                {% csrf_token %}
                                                 <input type="hidden" name="form-type" value="admin_forms" />
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ i.username }} <input type="hidden" name="username" value="{{ i.username }}" /></td>
                                                    <td>{{ i.first_name }} <input type="hidden" name="nama_pengguna" value="{{ i.first_name }}" /></td>
                                                    <td><button type="submit" name="change" class="btn-success"><i class="fa fa-pencil"></i></button> </td>
                                                    <td><button type="submit" name="delete" class="btn-danger"><i class="fa fa-minus"></i></button> </td>
                                                </tr>
                                             </form>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            <!-- /.table-responsive -->
                        </div>

                        <!-- /.panel-body -->
                    </div>
                    <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-group fa-fw"></i>Staff
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Username</th>
                                        <th>Nama</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in staff %}
                                        {% if i.is_superuser is False %}
                                             <form role="form" action="{% url 'daftarAkunPengguna' %}" method="POST">
                                                {% csrf_token %}
                                                 <input type="hidden" name="form-type" value="staff_forms" />
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ i.username }}</td>
                                                    <td>{{ i.first_name }}</td>
                                                    <td><button type="submit" name="change" class="btn-success"><i class="fa fa-pencil"></i></button> </td>
                                                    <td><button type="submit" name="delete" class="btn-danger"><i class="fa fa-minus"></i></button> </td>
                                                </tr>
                                             </form>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            <!-- /.table-responsive -->
                        </div>

                        <!-- /.panel-body -->
                    </div>
                <!-- /.col-lg-12 -->
            </div>
                </div>
            <!-- /.container-fluid -->
            </div>
             </div>
        {% endblock %}
{% load static %}
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>