{% extends request.user.is_superuser|yesno:"base.html,staff_base.html" %}

    {% block content %}
        <div id="page-wrapper">
        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tambah Bahasa Koleksi</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-10">
                                     <form role="form" action="." method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>Kode Bahasa Koleksi</label>
                                            <input class="form-control" type="text" name="kode_bahasa_koleksi" required>
                                            </div>
                                            <div class="col-lg-8">
                                            <label>Nama Bahasa Koleksi</label>
                                            <input class="form-control" type="text" name="nama_bahasa_koleksi" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="reset" class="btn btn-warning">Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}