{% extends request.user.is_superuser|yesno:"base.html,staff_base.html" %}

    {% block content %}
        <div id="page-wrapper">
        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tambah Koleksi</h1>
                    <button class="btn btn-twitter" onclick="window.location.href='{% url 'uploadKoleksi' %}'"><i class="fa fa-files-o fa-fw"></i>Upload Koleksi</button>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-10">
                                    <form role="form" action="." method="POST" id="koleksiForm" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Kode Eksamplar</label>
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                        <div class="col-lg-2">
                                                            <label>JK</label>
                                                            <select class="form-control" name="jenis_kol" id="jenis_kol">
                                                                {% for jk in kode_koleksi %}
                                                                <option value="{{ jk.nama_jenis_koleksi }}">{{ jk.nama_jenis_koleksi }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <label>SK</label>
                                                            <select class="form-control" name="sumber_kol" id="sumber_kol">
                                                                {% for sk in kode_sumber %}
                                                                <option value="{{ sk.nama_sumber_koleksi }}">{{ sk.nama_sumber_koleksi }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <label>Tahun</label>
                                                            <input class="form-control" type="text" maxlength="4" name="tahun_inv" id="tahun_inv">
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <label>No. Urut</label>
                                                            <input class="form-control" type="text" name="no_inv" id="no_inv">
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>ISBN/ISSN</label>
                                            <input class="form-control" type="text" name="isbn_issn" id="isbn_issn" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>No. Panggil</label>
                                            <input class="form-control" type="text" name="no_panggil" id="no_panggil" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>Judul Koleksi</label>
                                            <input class="form-control" type="text" name="judul_koleksi" id="judul_koleksi" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>Pengarang</label>
                                                <textarea class="form-control" name="pengarang" form="koleksiForm" id="pengarang" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>Penerbit</label>
                                            <input class="form-control" type="text" name="penerbit" id="penerbit" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>Tahun Terbit</label>
                                            <input class="form-control" type="text" name="tahun_terbit" id="tahun_terbit" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>Tempat Terbit</label>
                                            <input class="form-control" type="text" name="tempat_terbit" id="tempat_terbit" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>Topik Koleksi</label>
                                            <select class="form-control" name="topik_koleksi" id="topik_koleksi">
                                                {% for tk in kode_topik %}
                                                    <option value="{{ tk.nama_topik_koleksi }}">{{ tk.nama_topik_koleksi }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>Bahasa</label>
                                            <select class="form-control" name="bahasa_koleksi" id="bahasa_koleksi" required>
                                                {% for bk in kode_bahasa %}
                                                    <option name="">{{ bk.nama_bahasa_koleksi }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                            <label>Gambar Sampul</label>
                                            <input type="file" name="file_gambar" id="file_gambar">
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <button type="submit" class="btn btn-primary" name="submit_btn">Submit Button</button>
                                            <button type="reset" class="btn btn-warning">Reset Button</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% for message in messages %}
                            <div class="alert alert-danger">
                                <a class="close" href="#" data-dismiss="alert">×</a>
                                {{ message }}
                            </div>
                            {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}